nav.svelte-12qhfyh{padding:1rem;background:#f4f4f4;margin-bottom:2rem}a.svelte-12qhfyh{margin-right:1rem;text-decoration:none;color:#333;font-weight:700}a.svelte-12qhfyh:hover{text-decoration:underline}
