# Node
node_modules
.DS_Store
dist/

# Functions
functions/lib/
functions/node_modules/

# SvelteKit
.svelte-kit
build/
.env
.env.*
!.env.example

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
data/
trace/
report-update/
!tests/e2e/**/screenshots/

# Vite
vite.config.ts.timestamp-*
vite.config.js.timestamp-*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
gha-creds-*.json
*-debug.log

# Local logs
ci_log*.txt
firebase.local.json

# Backups
*.bak
